*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:Helvetica;
}
div{
    width:100%;
    height:100px;
    background-color:red;
}
.header{
    position:fixed;
    text-align:center;
}
.footer{
    position:fixed;
    top:90%;
    text-align:center;
}